* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.content {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-card {
  border-radius: 10px;
  height: 100%;
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image-container {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  background-image: url("images/book11.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gradient {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(46, 46, 46, 0.6));
}

.background-image-container img {
  height: 70%;
  width: 27%;
}

.controls {
  height: 30%;
  width: 90%;
  gap: 10px;
  bottom: 0;
  display: flex;  
  flex-direction: row;
  align-items: center;
  position: absolute;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.btn-book, .btn-favorites{
  font-size: 1rem;
  margin-right: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-book {
  background-color: white;
  color: black;
  font-weight: bold;
}

.btn-favorites {
  background-color: rgba(44, 44, 44, 0.3);
  color: white;
}

.infos {
  height: 50%;
  width: 100%;
  gap: 20px;
  font-size: 0.95rem;
  padding: 10px;
  color: white;
  background: linear-gradient(to bottom, rgba(37, 37, 37, 0.78), rgba(32, 32, 32, 0.95));
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.info-left {
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
}

.info-right {
  width: 60%;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
}

span {
  font-size: 18px;
  font-weight: bold;
  color: rgb(32, 32, 32);
}