body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3e3807 0%, #101333 100%);
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 450px; 
    height: 80px;
}

.signup-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(60, 59, 59, 0.5);
    width: 300px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.signup-container h2 {
    margin: 0 0 20px;
    font-size: 24px;
    height: 30px;
    padding-bottom: 10px;
}

.signup-container .tab {
    color: white;
    text-decoration: none;
}

.signup-container .tab.active {
    color: #250d82; 
}

.signup-container .form {
    display: block;
    background: transparent;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 16px;
    box-sizing: border-box;
}

.signup-container input::placeholder {
    color: #ccc;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background: #250d82;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
}

.signup-container button:hover {
    background: #0056b3;
}

.footer-links {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer-links a:hover {
    opacity: 1;
}